<div class="announcement">
  {{ section.settings.text }}
</div>
{% schema %}
{"name":"Announcement bar","settings":[{"type":"text","id":"text","label":"Text","default":"Introducing the Shadeless 3-Step Serum System — Prepare. Optimize. Enhance."}]}
{% endschema %}
